@import '../../themes/styles/variables/colors.scss';

.like-button {
    width: 40px;
    height: 33px;
    background-color: #fff;
    opacity: .8;
    transition: opacity .3s;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;

    svg {
        margin-top: 5px;
        color: $dark-gray;
    }

    &:hover {
        opacity: 1;

        svg {
            color: $black;
        }
    }
}