.photos-container {
    padding-left: 100px;
    padding-right: 100px;
    columns: 2;
    column-gap: 24px;
    margin: 0 auto;

    .photo {
        width: 300px;
        height: 400px;
        margin-bottom: 24px;
        overflow: hidden;
        cursor: zoom-in;
        
        img {
            width: 100%;
        }
    }
}