[data-reach-dialog-overlay] {
    cursor: zoom-out;

    .modal-dialog-window {
        border-radius: 4px;
        width: 85%;
        padding: 0;
        margin-top: 25px;
        cursor: initial;

        .modal-header {
            position: sticky;
            top: 0;
            padding: 9px 12px;
            border-radius: 4px 4px 0 0;
            background-color: #fff;

            .dismiss-icon {
                cursor: pointer;
                color: #acacac;
    
                &:hover {
                    color: #8e8e8e;
                }
            }
        }
    }
}