@import '../../themes/styles/variables/colors.scss';

[data-reach-dialog-overlay] {
    cursor: zoom-out;

    .modal-dialog-window {
        background-color: $black;
        border: 1px solid $light-gray;
        border-radius: 4px;
        width: 85%;
        padding: 0;
        margin-top: 25px;
        cursor: initial;

        .sticky-modal-header {
            z-index: 4;

            .modal-header {
                padding: 9px 12px;
                border-radius: 4px 4px 0 0;
                background-color: $black;
                display: flex;
                justify-content: space-between;
    
                .dismiss-icon {
                    cursor: pointer;
                    color: $light-gray;
        
                    &:hover {
                        color: $dark-gray;
                    }
                }
            }
        }
    }
}